openapi: 3.0.0
info:
  title: UChile Research Data Repository (Dataverse API) Access Admin API
  version: 1.0.0
  description: OpenAPI description served live from the University of Chile Dataverse research data repository at https://datos.uchile.cl (Dataverse v5.13, build 1244-79d6e57). Captured 2026-06-03 from https://datos.uchile.cl/openapi. The servers entry has been set to the real public base URL; internal default-server hostnames from the source document were replaced. All paths and schemas are reproduced as published by the deployment.
servers:
- url: https://datos.uchile.cl
  description: University of Chile Dataverse (production)
tags:
- name: Admin
paths:
  /api/v1/admin/archiveAllUnarchivedDatasetVersions:
    post:
      operationId: archiveAllUnarchivedDatasetVersions
      parameters:
      - name: listonly
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
      - name: latestonly
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/assignee/{idtf}:
    get:
      operationId: findRoleAssignee
      parameters:
      - name: idtf
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  '/api/v1/admin/assignments/assignees/{raIdtf: .*}':
    get:
      operationId: getAssignmentsFor
      parameters:
      - name: raIdtf
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers:
    post:
      operationId: createAuthenicatedUser
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listAuthenticatedUsers
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/convert/builtin2oauth:
    put:
      operationId: builtin2oauth
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/convert/builtin2shib:
    put:
      operationId: builtin2shib
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/id/{id}:
    delete:
      operationId: deleteAuthenticatedUserById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/id/{id}/convertRemoteToBuiltIn:
    put:
      operationId: convertOAuthUserToBuiltin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/id/{id}/convertShibToBuiltIn:
    put:
      operationId: convertShibUserToBuiltin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/id/{id}/deactivate:
    post:
      operationId: deactivateAuthenticatedUserById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/{identifier}:
    delete:
      operationId: deleteAuthenticatedUser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getAuthenticatedUserByIdentifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticatedUsers/{identifier}/deactivate:
    post:
      operationId: deactivateAuthenticatedUser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticationProviderFactories:
    get:
      operationId: listAuthProviderFactories
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticationProviders:
    post:
      operationId: addProvider
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuthenticationProviderRow'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listAuthProviders
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticationProviders/{id}:
    delete:
      operationId: deleteAuthenticationProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: showProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticationProviders/{id}/:enabled:
    post:
      operationId: enableAuthenticationProvider_deprecated
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/authenticationProviders/{id}/enabled:
    put:
      operationId: enableAuthenticationProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: checkAuthenticationProviderEnabled
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/bannerMessage:
    post:
      operationId: addBannerMessage
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getBannerMessages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/bannerMessage/{id}:
    delete:
      operationId: deleteBannerMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/bannerMessage/{id}/deactivate:
    put:
      operationId: deactivateBannerMessage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/batch/jobs:
    get:
      operationId: listBatchJobs
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/batch/jobs/name/{jobName}:
    get:
      operationId: listBatchJobsByName
      parameters:
      - name: jobName
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/batch/jobs/{jobId}:
    get:
      operationId: listBatchJobById
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/clearMetricsCache:
    delete:
      operationId: clearMetricsCache
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/clearMetricsCache/{name}:
    delete:
      operationId: clearMetricsCacheByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/computeDataFileHashValue/{fileId}/algorithm/{alg}:
    post:
      operationId: computeDataFileHashValue
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: alg
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/confirmEmail/{userId}:
    post:
      operationId: startConfirmEmailProcess
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getConfirmEmailToken
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/convertUserFromBcryptToSha1:
    post:
      operationId: convertUserFromBcryptToSha1
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datafiles/integrity/fixmissingoriginalsizes:
    get:
      operationId: fixMissingOriginalSizes
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datafiles/integrity/fixmissingoriginaltypes:
    get:
      operationId: fixMissingOriginalTypes
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield:
    get:
      operationId: getAll
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield/controlledVocabulary/subject:
    get:
      operationId: showControlledVocabularyForSubject
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield/load:
    post:
      operationId: loadDatasetFields
      requestBody:
        content:
          text/tab-separated-values:
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield/loadNAControlledVocabularyValue:
    get:
      operationId: loadNAControlledVocabularyValue
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield/loadpropertyfiles:
    post:
      operationId: loadLanguagePropertyFile
      requestBody:
        content:
          application/zip:
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasetfield/{name}:
    get:
      operationId: getByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasets/integrity/{datasetVersionId}/fixmissingunf:
    post:
      operationId: fixUnf
      parameters:
      - name: datasetVersionId
        in: path
        required: true
        schema:
          type: string
      - name: forceRecalculate
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/datasets/thumbnailMetadata/{id}:
    get:
      operationId: getDatasetThumbnailMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/dataverse/curationLabelSets:
    get:
      operationId: listCurationLabelSets
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/dataverse/storageDrivers:
    get:
      operationId: listStorageDrivers
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/dataverse/{alias}/addRoleAssignmentsToChildren:
    get:
      operationId: addRoleAssignementsToChildren
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/dataverse/{alias}/curationLabelSet:
    put:
      operationId: setCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: resetCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getCurationLabelSet
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/dataverse/{alias}/storageDriver:
    put:
      operationId: setStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: resetStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getStorageDriver
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/externalTools:
    post:
      operationId: addExternalTool
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getExternalTools
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/externalTools/{id}:
    delete:
      operationId: deleteExternalTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getExternalTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/feedback:
    post:
      operationId: submitFeedback
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/domain:
    post:
      operationId: createMailDomainGroup
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listMailDomainGroups
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/domain/{groupAlias}:
    put:
      operationId: updateMailDomainGroups
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: deleteMailDomainGroup
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getMailDomainGroup
      parameters:
      - name: groupAlias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/ip:
    post:
      operationId: postIpGroup
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listIpGroups
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/ip/{groupIdtf}:
    delete:
      operationId: deleteIpGroup
      parameters:
      - name: groupIdtf
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getIpGroup
      parameters:
      - name: groupIdtf
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/ip/{groupName}:
    put:
      operationId: putIpGroups
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/shib:
    post:
      operationId: createShibGroup
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listShibGroups
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/groups/shib/{primaryKey}:
    delete:
      operationId: deleteShibGroup
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index:
    get:
      operationId: indexAllOrSubset
      parameters:
      - name: numPartitions
        in: query
        schema:
          type: number
      - name: partitionIdToProcess
        in: query
        schema:
          type: number
      - name: previewOnly
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/clear:
    get:
      operationId: clearSolrIndex
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/clear-orphans:
    get:
      operationId: clearOrphans
      parameters:
      - name: sync
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/continue:
    get:
      operationId: indexAllOrSubsetContinue
      parameters:
      - name: numPartitions
        in: query
        schema:
          type: number
      - name: partitionIdToProcess
        in: query
        schema:
          type: number
      - name: previewOnly
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/dataset:
    get:
      operationId: indexDatasetByPersistentId
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/filemetadata/{dataset_id}:
    get:
      operationId: getFileMetadataByDatasetId
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: number
      - name: maxResults
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/filesearch:
    get:
      operationId: filesearch
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      - name: semanticVersion
        in: query
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/mod:
    get:
      operationId: indexMod
      parameters:
      - name: partitions
        in: query
        schema:
          type: number
      - name: which
        in: query
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/perms:
    get:
      operationId: indexAllPermissions
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/perms/{id}:
    get:
      operationId: indexPermissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/permsDebug:
    get:
      operationId: searchPermsDebug
      parameters:
      - name: key
        in: query
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/solr/schema:
    get:
      operationId: getSolrSchema
      responses:
        default:
          content:
            '*/*':
              schema:
                type: string
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/status:
    get:
      operationId: indexStatus
      parameters:
      - name: sync
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/test:
    get:
      operationId: searchDebug
      parameters:
      - name: key
        in: query
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: fq
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/timestamps:
    delete:
      operationId: deleteAllTimestamps
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/timestamps/{dvObjectId}:
    delete:
      operationId: deleteTimestamp
      parameters:
      - name: dvObjectId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/index/{type}/{id}:
    get:
      operationId: indexTypeById
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/isOrcid:
    get:
      operationId: isOrcidEnabled
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/list-users:
    get:
      operationId: filterAuthenticatedUsers
      parameters:
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: selectedPage
        in: query
        schema:
          type: integer
      - name: itemsPerPage
        in: query
        schema:
          type: integer
      - name: sortKey
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/makeDataCount/addUsageMetricsFromSushiReport:
    post:
      operationId: addUsageMetricsFromSushiReportAll
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: reportOnDisk
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/makeDataCount/sendToHub:
    post:
      operationId: sendDataToHub
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/makeDataCount/{id}/addUsageMetricsFromSushiReport:
    post:
      operationId: addUsageMetricsFromSushiReport
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: reportOnDisk
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/makeDataCount/{id}/updateCitationsForDataset:
    post:
      operationId: updateCitationsForDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/metadata/clearExportTimestamps:
    get:
      operationId: clearExportTimestamps
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/metadata/exportAll:
    get:
      operationId: exportAll
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/metadata/exportOAI/{specname}:
    put:
      operationId: exportOaiSet
      parameters:
      - name: specname
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/metadata/reExportAll:
    get:
      operationId: reExportAll
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/metadata/{id}/reExportDataset:
    get:
      operationId: indexDatasetByPersistentId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/permissions/{dvo}:
    get:
      operationId: findPermissonsOn
      parameters:
      - name: dvo
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/publishDataverseAsCreator/{id}:
    post:
      operationId: publishDataverseAsCreator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/registerDataFileAll:
    get:
      operationId: registerDataFileAll
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/requestSignedUrl:
    post:
      operationId: getSignedUrl
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/roles:
    post:
      operationId: createNewBuiltinRole
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RoleDTO'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listBuiltinRoles
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/roles/{id}:
    delete:
      operationId: deleteRole
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/savedsearches:
    post:
      operationId: add
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: meta
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/savedsearches/list:
    get:
      operationId: list
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/savedsearches/makelinks/all:
    put:
      operationId: makeLinksForAllSavedSearches
      parameters:
      - name: debug
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/savedsearches/makelinks/{id}:
    put:
      operationId: makeLinksForSingleSavedSearch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      - name: debug
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/savedsearches/{id}:
    delete:
      operationId: delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/settings:
    get:
      operationId: listAllSettings
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/settings/{name}:
    put:
      operationId: putSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: deleteSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/settings/{name}/lang/{lang}:
    put:
      operationId: putSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: lang
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: deleteSetting
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: lang
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/sitemap:
    post:
      operationId: updateSiteMap
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/storageSites:
    post:
      operationId: addSite
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listAll
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/storageSites/{id}:
    delete:
      operationId: delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/storageSites/{id}/primaryStorage:
    put:
      operationId: setPrimary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/submitDatasetVersionToArchive/{id}/{version}:
    post:
      operationId: submitDatasetVersionToArchive
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/superuser/{identifier}:
    post:
      operationId: toggleSuperuser
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/template/{id}:
    delete:
      operationId: deleteTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/templates:
    get:
      operationId: findAllTemplates
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/templates/{alias}:
    get:
      operationId: findTemplates
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/test/datasets/{id}/externalTools:
    get:
      operationId: getExternalToolsforFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/test/files/{id}/externalTools:
    get:
      operationId: getExternalToolsForFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/updateHashValues/{alg}:
    get:
      operationId: updateHashValues
      parameters:
      - name: alg
        in: path
        required: true
        schema:
          type: string
      - name: num
        in: query
        schema:
          type: integer
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/validate/dataset/files/{id}:
    get:
      operationId: validateDatasetDatafiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/validate/dataset/{id}:
    get:
      operationId: validateDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: variables
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/validate/datasets:
    get:
      operationId: validateAllDatasets
      parameters:
      - name: variables
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/validateDataFileHashValue/{fileId}:
    post:
      operationId: validateDataFileHashValue
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/validatePassword:
    post:
      operationId: validatePassword
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows:
    post:
      operationId: addWorkflow
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: listWorkflows
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows/default:
    get:
      operationId: listDefaults
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows/default/{triggerType}:
    put:
      operationId: setDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: deleteDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getDefault
      parameters:
      - name: triggerType
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows/ip-whitelist:
    put:
      operationId: setIpWhitelist
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    delete:
      operationId: deleteIpWhitelist
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
    get:
      operationId: getIpWhitelist
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows/{identifier}:
    get:
      operationId: getWorkflow
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/workflows/{id}:
    delete:
      operationId: deleteWorkflow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/{id}/registerDataFile:
    get:
      operationId: registerDataFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
  /api/v1/admin/{id}/reregisterHDLToPID:
    post:
      operationId: reregisterHdlToPID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Admin
components:
  schemas:
    RoleDTO:
      type: object
      properties:
        alias:
          type: string
        name:
          type: string
        description:
          type: string
        ownerId:
          type: string
        permissions:
          type: string
    AuthenticationProviderRow:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subtitle:
          type: string
        factoryAlias:
          type: string
        enabled:
          type: boolean
        factoryData:
          type: string
