openapi: 3.0.0
info:
  title: UChile Research Data Repository (Dataverse API) Access Builtin Users API
  version: 1.0.0
  description: OpenAPI description served live from the University of Chile Dataverse research data repository at https://datos.uchile.cl (Dataverse v5.13, build 1244-79d6e57). Captured 2026-06-03 from https://datos.uchile.cl/openapi. The servers entry has been set to the real public base URL; internal default-server hostnames from the source document were replaced. All paths and schemas are reproduced as published by the deployment.
servers:
- url: https://datos.uchile.cl
  description: University of Chile Dataverse (production)
tags:
- name: Builtin Users
paths:
  /api/v1/builtin-users:
    post:
      operationId: save
      parameters:
      - name: password
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      - name: sendEmailNotification
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
  /api/v1/builtin-users/{password}/{key}:
    post:
      operationId: create
      parameters:
      - name: password
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
  /api/v1/builtin-users/{password}/{key}/{sendEmailNotification}:
    post:
      operationId: create
      parameters:
      - name: password
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: sendEmailNotification
        in: path
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
  /api/v1/builtin-users/{username}/api-token:
    get:
      operationId: getApiToken
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: password
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
components:
  schemas:
    Reason:
      enum:
      - Ingest
      - Workflow
      - InReview
      - DcmUpload
      - GlobusUpload
      - finalizePublication
      - EditInProgress
      - FileValidationFailed
    BuiltinUser:
      type: object
      properties:
        id:
          type: number
        userName:
          type: string
        passwordEncryptionVersion:
          type: integer
        passwordResetData:
          $ref: '#/components/schemas/PasswordResetData'
        encryptedPassword:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        affiliation:
          type: string
        position:
          type: string
    PasswordResetData:
      type: object
      properties:
        id:
          type: number
        token:
          type: string
        builtinUser:
          $ref: '#/components/schemas/BuiltinUser'
        created: {}
        expires: {}
        reason:
          $ref: '#/components/schemas/Reason'
