openapi: 3.0.0
info:
  title: UChile Research Data Repository (Dataverse API) Access API
  version: 1.0.0
  description: OpenAPI description served live from the University of Chile Dataverse research data repository at https://datos.uchile.cl (Dataverse v5.13, build 1244-79d6e57). Captured 2026-06-03 from https://datos.uchile.cl/openapi. The servers entry has been set to the real public base URL; internal default-server hostnames from the source document were replaced. All paths and schemas are reproduced as published by the deployment.
servers:
- url: https://datos.uchile.cl
  description: University of Chile Dataverse (production)
tags:
- name: Access
paths:
  /api/v1/access/datafile/bundle/{fileId}:
    get:
      operationId: datafileBundle
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          type: number
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/BundleDownloadInstance'
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId:.+}:
    get:
      operationId: datafile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            application/xml:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId}/auxiliary:
    get:
      operationId: listDatafileMetadataAux
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId}/auxiliary/{formatTag}/{formatVersion}:
    post:
      operationId: saveAuxiliaryFileWithVersion
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: number
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
    delete:
      operationId: deleteAuxiliaryFileWithVersion
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: number
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
    get:
      operationId: downloadAuxiliaryFile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadInstance'
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId}/auxiliary/{origin}:
    get:
      operationId: listDatafileMetadataAuxByOrigin
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: origin
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId}/metadata:
    get:
      operationId: tabularDatafileMetadata
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          type: number
      - name: exclude
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            text/xml:
              schema:
                type: string
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{fileId}/metadata/ddi:
    get:
      operationId: tabularDatafileMetadataDDI
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          type: number
      - name: exclude
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            text/xml:
              schema:
                type: string
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{id}/grantAccess/{identifier}:
    put:
      operationId: grantFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{id}/listRequests:
    get:
      operationId: listFileAccessRequests
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{id}/rejectAccess/{identifier}:
    put:
      operationId: rejectFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{id}/requestAccess:
    put:
      operationId: requestFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafile/{id}/revokeAccess/{identifier}:
    delete:
      operationId: revokeFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafiles:
    post:
      operationId: postDownloadDatafiles
      parameters:
      - name: gbrecs
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        default:
          content:
            application/zip:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/datafiles/{fileIds}:
    get:
      operationId: datafiles
      parameters:
      - name: fileIds
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            application/zip:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/dataset/{id}:
    get:
      operationId: downloadAllFromLatest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        default:
          content:
            application/zip:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/dataset/{id}/versions/{versionId}:
    get:
      operationId: downloadAllFromVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      - name: key
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/zip:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/dsCardImage/{versionId}:
    get:
      operationId: dsCardImage
      parameters:
      - name: versionId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            image/png:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/dvCardImage/{dataverseId}:
    get:
      operationId: dvCardImage
      parameters:
      - name: dataverseId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            image/png:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/fileCardImage/{fileId}:
    get:
      operationId: fileCardImage
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: number
      responses:
        default:
          content:
            image/png:
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
  /api/v1/access/{id}/allowAccessRequest:
    put:
      operationId: allowAccessRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Access
components:
  schemas:
    Type:
      enum:
      - ASSIGNROLE
      - REVOKEROLE
      - CREATEDV
      - CREATEDS
      - CREATEACC
      - SUBMITTEDDS
      - RETURNEDDS
      - PUBLISHEDDS
      - REQUESTFILEACCESS
      - GRANTFILEACCESS
      - REJECTFILEACCESS
      - FILESYSTEMIMPORT
      - CHECKSUMIMPORT
      - CHECKSUMFAIL
      - CONFIRMEMAIL
      - APIGENERATED
      - INGESTCOMPLETED
      - INGESTCOMPLETEDWITHERRORS
      - PUBLISHFAILED_PIDREG
      - WORKFLOW_SUCCESS
      - WORKFLOW_FAILURE
      - STATUSUPDATED
      - DATASETCREATED
      - DATASETMENTIONED
      - GLOBUSUPLOADCOMPLETED
      - GLOBUSUPLOADCOMPLETEDWITHERRORS
      - GLOBUSDOWNLOADCOMPLETED
      - GLOBUSDOWNLOADCOMPLETEDWITHERRORS
    Guestbook:
      type: object
      properties:
        id:
          type: number
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        customQuestions:
          items:
            $ref: '#/components/schemas/CustomQuestion'
        name:
          type: string
        enabled:
          type: boolean
        nameRequired:
          type: boolean
        emailRequired:
          type: boolean
        institutionRequired:
          type: boolean
        positionRequired:
          type: boolean
        createTime: {}
        deletable:
          type: boolean
        usageCount:
          type: number
        usageCountDataverse:
          type: number
        responseCount:
          type: number
        responseCountDataverse:
          type: number
    HarvestingClient:
      type: object
      properties:
        id:
          type: number
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        harvestedDatasets:
          items:
            $ref: '#/components/schemas/Dataset'
        name:
          type: string
        harvestType:
          type: string
        harvestStyle:
          type: string
        harvestingUrl:
          type: string
        archiveUrl:
          type: string
        archiveDescription:
          type: string
        harvestingSet:
          type: string
        metadataPrefix:
          type: string
        customHttpHeaders:
          type: string
        harvestHistory:
          items:
            $ref: '#/components/schemas/ClientHarvestRun'
        scheduled:
          type: boolean
        schedulePeriod:
          type: string
        scheduleHourOfDay:
          type: integer
        scheduleDayOfWeek:
          type: integer
        harvestingNow:
          type: boolean
        deleted:
          type: boolean
    WorkflowComment:
      type: object
      properties:
        id:
          type: number
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        type:
          $ref: '#/components/schemas/Type'
        message:
          type: string
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        created: {}
        toBeShown:
          type: boolean
    DatasetFieldType:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        title:
          type: string
        description:
          type: string
        fieldType:
          $ref: '#/components/schemas/FieldType'
        allowControlledVocabulary:
          type: boolean
        watermark:
          type: string
        validationFormat:
          type: string
        dataverseFacets:
          items:
            $ref: '#/components/schemas/DataverseFacet'
        dataverseFieldTypeInputLevels:
          items:
            $ref: '#/components/schemas/DataverseFieldTypeInputLevel'
        searchValue:
          type: string
        listValues:
          items:
            type: string
        controlledVocabularyValuesByStrValue: {}
        requiredDV:
          type: boolean
        include:
          type: boolean
        optionSelectItems:
          items:
            type: object
        displayOrder:
          type: integer
        displayFormat:
          type: string
        allowMultiples:
          type: boolean
        facetable:
          type: boolean
        displayOnCreate:
          type: boolean
        metadataBlock:
          $ref: '#/components/schemas/MetadataBlock'
        uri:
          type: string
        controlledVocabularyValues:
          items:
            $ref: '#/components/schemas/ControlledVocabularyValue'
        childDatasetFieldTypes:
          items:
            $ref: '#/components/schemas/DatasetFieldType'
        parentDatasetFieldType: {}
        required:
          type: boolean
        advancedSearchFieldType:
          type: boolean
        datasetFields:
          items:
            $ref: '#/components/schemas/DatasetField'
        datasetFieldDefaultValues:
          items:
            $ref: '#/components/schemas/DatasetFieldDefaultValue'
    AuthenticatedUser:
      type: object
      properties:
        id:
          type: number
        userIdentifier:
          type: string
        email:
          type: string
        affiliation:
          type: string
        position:
          type: string
        lastName:
          type: string
        firstName:
          type: string
        emailConfirmed: {}
        createdTime: {}
        lastLoginTime: {}
        lastApiUseTime: {}
        cart:
          $ref: '#/components/schemas/Cart'
        superuser:
          type: boolean
        deactivated:
          type: boolean
        deactivatedTime: {}
        mutedEmails:
          type: string
        mutedNotifications:
          type: string
        mutedEmailsSet:
          items:
            $ref: '#/components/schemas/Type'
        mutedNotificationsSet:
          items:
            $ref: '#/components/schemas/Type'
        shibIdentityProvider:
          type: string
        notifications:
          items:
            $ref: '#/components/schemas/UserNotification'
        requests:
          items:
            $ref: '#/components/schemas/UserNotification'
        datasetLocks:
          items:
            $ref: '#/components/schemas/DatasetLock'
        oAuth2TokenDatas:
          items:
            $ref: '#/components/schemas/OAuth2TokenData'
        roles:
          type: string
        authProviderId:
          type: string
        authProviderFactoryAlias:
          type: string
        authenticatedUserLookup:
          $ref: '#/components/schemas/AuthenticatedUserLookup'
    License:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        shortDescription:
          type: string
        uri:
          type: string
        iconUrl:
          type: string
        active:
          type: boolean
        isDefault:
          type: boolean
        sortOrder:
          type: number
        termsOfUseAndAccess:
          items:
            $ref: '#/components/schemas/TermsOfUseAndAccess'
    ActionLogServiceBean:
      type: object
      properties:
        em: {}
    WorkflowServiceBean:
      type: object
      properties:
        em: {}
        datasets:
          $ref: '#/components/schemas/DatasetServiceBean'
        settings:
          $ref: '#/components/schemas/SettingsServiceBean'
        roleAssignees:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        engine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        providers: {}
    PasswordValidatorServiceBean:
      type: object
      properties:
        goodStrength:
          type: integer
        maxLength:
          type: integer
        minLength:
          type: integer
        numberOfCharacteristics:
          type: integer
        numberOfConsecutiveDigitsAllowed:
          type: integer
        characterRules:
          items:
            $ref: '#/components/schemas/CharacterRule'
        dictionaries:
          type: string
        messageResolver:
          $ref: '#/components/schemas/PropertiesMessageResolver'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    DataverseFieldTypeInputLevel:
      type: object
      properties:
        id:
          type: number
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        include:
          type: boolean
        required:
          type: boolean
    DatasetMetrics:
      type: object
      properties:
        id:
          type: number
        dataset:
          $ref: '#/components/schemas/Dataset'
        monthYear:
          type: string
        viewsTotalRegular:
          type: number
        viewsUniqueRegular:
          type: number
        viewsTotalMachine:
          type: number
        viewsUniqueMachine:
          type: number
        downloadsTotalRegular:
          type: number
        downloadsUniqueRegular:
          type: number
        downloadsTotalMachine:
          type: number
        downloadsUniqueMachine:
          type: number
        countryCode:
          type: string
        viewsUnique:
          type: number
        viewsTotal:
          type: number
        downloadsUnique:
          type: number
        downloadsTotal:
          type: number
    MailDomainGroupProvider:
      type: object
      properties:
        emailGroupSvc:
          $ref: '#/components/schemas/MailDomainGroupServiceBean'
    SavedSearch:
      type: object
      properties:
        id:
          type: number
        query:
          type: string
        savedSearchFilterQueries:
          items:
            $ref: '#/components/schemas/SavedSearchFilterQuery'
        definitionPoint:
          $ref: '#/components/schemas/Dataverse'
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
    DvObject:
      type: object
      properties:
        id:
          type: number
        owner: {}
        publicationDate: {}
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate: {}
        modificationTime: {}
        indexTime: {}
        permissionModificationTime: {}
        permissionIndexTime: {}
        storageIdentifier:
          type: string
        dtype:
          type: string
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          items:
            $ref: '#/components/schemas/RoleAssignment'
        mergeable:
          type: boolean
      allOf:
      - $ref: '#/components/schemas/DataverseEntity'
      - $ref: '#/components/schemas/DataverseEntity'
      - $ref: '#/components/schemas/DataverseEntity'
      - $ref: '#/components/schemas/DataverseEntity'
    DataverseHeaderFragment:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        bannerMessageService:
          $ref: '#/components/schemas/BannerMessageServiceBean'
        dataverseSession:
          $ref: '#/components/schemas/DataverseSession'
        settingsWrapper:
          $ref: '#/components/schemas/SettingsWrapper'
        navigationWrapper:
          $ref: '#/components/schemas/NavigationWrapper'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        breadcrumbs:
          items:
            $ref: '#/components/schemas/Breadcrumb'
        bannerMessages:
          items:
            $ref: '#/components/schemas/BannerMessage'
        unreadNotificationCount:
          type: number
        signupAllowed:
          type: boolean
    IngestReport:
      type: object
      properties:
        id:
          type: number
        dataFile:
          $ref: '#/components/schemas/DataFile'
        report:
          type: string
        type:
          type: integer
        status:
          type: integer
        startTime: {}
        endTime: {}
    IpAddress:
      type: object
    HandlenetServiceBean:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        handlenetIndex:
          type: integer
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
      allOf:
      - $ref: '#/components/schemas/AbstractGlobalIdServiceBean'
    UserBannerMessage:
      type: object
      properties:
        id:
          type: number
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        bannerMessage:
          $ref: '#/components/schemas/BannerMessage'
        bannerDismissalTime: {}
    SettingsWrapper:
      type: object
      properties:
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        fieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        settingsMap: {}
        guidesBaseUrl:
          type: string
        embargoDateChecked:
          type: boolean
        maxEmbargoDate:
          type: object
        siteUrl:
          type: string
        rootDataverse:
          $ref: '#/components/schemas/Dataverse'
        guidesVersion:
          type: string
        appVersion:
          type: string
        appVersionWithBuildNumber:
          type: string
        shibPassiveLoginEnabled:
          type: boolean
        footerCopyrightAndYear:
          type: string
        cachedCvocMap: {}
        zipDownloadLimit:
          type: number
        publicInstall:
          type: boolean
        uploadMethodsCount:
          type: integer
        rsyncUpload:
          type: boolean
        rsyncDownload:
          type: boolean
        globusUpload:
          type: boolean
        globusDownload:
          type: boolean
        globusFileDownload:
          type: boolean
        globusAppUrl:
          type: string
        globusStoreList:
          items:
            type: string
        httpUpload:
          type: boolean
        rsyncOnly:
          type: boolean
        webloaderUpload:
          type: boolean
        metricsUrl:
          type: string
        dataFilePIDSequentialDependent:
          type: boolean
        customLicenseAllowed:
          type: boolean
        alwaysMuted:
          items:
            $ref: '#/components/schemas/Type'
        neverMuted:
          items:
            $ref: '#/components/schemas/Type'
        configuredLocales: {}
        anonymizedFieldTypes:
          items:
            type: string
        languageMap: {}
        allowedExternalStatuses:
          items:
            type: string
    DatasetVersionServiceBean:
      type: object
      properties:
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        em: {}
    ExternalToolType:
      type: object
      properties:
        id:
          type: number
        type:
          $ref: '#/components/schemas/Type'
        externalTool:
          $ref: '#/components/schemas/ExternalTool'
    IndexServiceBean:
      type: object
      properties:
        em: {}
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        dataverseUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        userServiceBean:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        searchPermissionsService:
          $ref: '#/components/schemas/SearchPermissionsServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        dsLinkingService:
          $ref: '#/components/schemas/DatasetLinkingServiceBean'
        dvLinkingService:
          $ref: '#/components/schemas/DataverseLinkingServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        solrClientService:
          $ref: '#/components/schemas/SolrClientService'
        dataFileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        variableService:
          $ref: '#/components/schemas/VariableServiceBean'
        indexBatchService:
          $ref: '#/components/schemas/IndexBatchServiceBean'
        datasetFieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        rootDataverseName:
          type: string
        rootDataverseCached:
          $ref: '#/components/schemas/Dataverse'
        solrServer:
          $ref: '#/components/schemas/SolrClient'
        variableMetadataUtil:
          $ref: '#/components/schemas/VariableMetadataUtil'
    AuthenticationServiceBean:
      type: object
      properties:
        authProvidersRegistrationService:
          $ref: '#/components/schemas/AuthenticationProvidersRegistrationServiceBean'
        builtinUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        confirmEmailService:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        passwordResetServiceBean:
          $ref: '#/components/schemas/PasswordResetServiceBean'
        userService:
          $ref: '#/components/schemas/UserServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        dvObjSvc:
          $ref: '#/components/schemas/DvObjectServiceBean'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        gbRespSvc:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        explicitGroupService:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        savedSearchService:
          $ref: '#/components/schemas/SavedSearchServiceBean'
        em: {}
    SearchServiceBean:
      type: object
      properties:
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        datasetFieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        solrClientService:
          $ref: '#/components/schemas/SolrClientService'
    ExplicitGroupServiceBean:
      type: object
      properties:
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        em: {}
        provider:
          $ref: '#/components/schemas/ExplicitGroupProvider'
    AuxiliaryFile:
      type: object
      properties:
        id:
          type: number
        dataFile:
          $ref: '#/components/schemas/DataFile'
        formatTag:
          type: string
        formatVersion:
          type: string
        origin:
          type: string
        isPublic:
          type: boolean
        contentType:
          type: string
        fileSize:
          type: number
        checksum:
          type: string
        type:
          type: string
    AbstractGlobalIdServiceBean:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    DataverseRequestServiceBean:
      type: object
      properties:
        dataverseSessionSvc:
          $ref: '#/components/schemas/DataverseSession'
        request: {}
        dataverseRequest:
          $ref: '#/components/schemas/DataverseRequest'
    ShibGroupProvider:
      type: object
      properties:
        shibGroupService:
          $ref: '#/components/schemas/ShibGroupServiceBean'
    DataverseSession:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        permissionsService:
          $ref: '#/components/schemas/PermissionServiceBean'
        usersSvc:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        logSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        settingsWrapper:
          $ref: '#/components/schemas/SettingsWrapper'
        headerFragment:
          $ref: '#/components/schemas/DataverseHeaderFragment'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        bannerMessageService:
          $ref: '#/components/schemas/BannerMessageServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        statusDismissed:
          type: boolean
        dismissedMessages:
          items:
            $ref: '#/components/schemas/BannerMessage'
        debug:
          type: boolean
        localeCode:
          type: string
    DatasetVersionUser:
      type: object
      properties:
        id:
          type: number
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        lastUpdateDate: {}
    DOIDataCiteRegisterService:
      type: object
      properties:
        em: {}
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        doiDataCiteServiceBean:
          $ref: '#/components/schemas/DOIDataCiteServiceBean'
        client:
          $ref: '#/components/schemas/DataCiteRESTfullClient'
    DifferenceSummaryItem:
      type: object
      properties:
        displayName:
          type: string
        changed:
          type: integer
        added:
          type: integer
        deleted:
          type: integer
        replaced:
          type: integer
        multiple:
          type: boolean
    GuestbookServiceBean:
      type: object
      properties:
        em: {}
    CategoryMetadata:
      type: object
      properties:
        id:
          type: number
        category:
          $ref: '#/components/schemas/VariableCategory'
        variableMetadata:
          $ref: '#/components/schemas/VariableMetadata'
        wfreq:
          type: number
    SystemConfig:
      type: object
      properties:
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        buildNumber:
          type: string
    Reason:
      enum:
      - Ingest
      - Workflow
      - InReview
      - DcmUpload
      - GlobusUpload
      - finalizePublication
      - EditInProgress
      - FileValidationFailed
    DataFileCategory:
      type: object
      properties:
        id:
          type: number
        dataset:
          $ref: '#/components/schemas/Dataset'
        name:
          type: string
        fileMetadatas:
          items:
            $ref: '#/components/schemas/FileMetadata'
    BuiltinUserServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        passwordResetService:
          $ref: '#/components/schemas/PasswordResetServiceBean'
        em: {}
    OAuth2TokenData:
      type: object
      properties:
        id:
          type: number
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        oauthProviderId:
          type: string
        expiryDate: {}
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
        rawResponse:
          type: string
    Embargo:
      type: object
      properties:
        id:
          type: number
        dateAvailable:
          type: object
        reason:
          type: string
        dataFiles:
          items:
            $ref: '#/components/schemas/DataFile'
    Dataset:
      type: object
      properties:
        files:
          items:
            $ref: '#/components/schemas/DataFile'
        lastExportTime: {}
        versions:
          items:
            $ref: '#/components/schemas/DatasetVersion'
        datasetLocks:
          items:
            $ref: '#/components/schemas/DatasetLock'
        thumbnailFile:
          $ref: '#/components/schemas/DataFile'
        datasetMetrics:
          items:
            $ref: '#/components/schemas/DatasetMetrics'
        datasetExternalCitations:
          items:
            $ref: '#/components/schemas/DatasetExternalCitations'
        useGenericThumbnail:
          type: boolean
        guestbook:
          $ref: '#/components/schemas/Guestbook'
        datasetLinkingDataverses:
          items:
            $ref: '#/components/schemas/DatasetLinkingDataverse'
        fileAccessRequest:
          type: boolean
        dataFileCategories:
          items:
            $ref: '#/components/schemas/DataFileCategory'
        citationDateDatasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        template:
          $ref: '#/components/schemas/Template'
        harvestedFrom:
          $ref: '#/components/schemas/HarvestingClient'
        harvestIdentifier:
          type: string
        storageDriver:
          type: string
        metadataLanguage:
          type: string
        externalLabelSetName:
          type: string
        id:
          type: number
        owner: {}
        publicationDate: {}
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate: {}
        modificationTime: {}
        indexTime: {}
        permissionModificationTime: {}
        permissionIndexTime: {}
        storageIdentifier:
          type: string
        dtype:
          type: string
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          items:
            $ref: '#/components/schemas/RoleAssignment'
        mergeable:
          type: boolean
      allOf:
      - $ref: '#/components/schemas/DvObjectContainer'
    RoleAssigneeServiceBean:
      type: object
      properties:
        em: {}
        authSvc:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        groupSvc:
          $ref: '#/components/schemas/GroupServiceBean'
        explicitGroupSvc:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        dataverseRoleService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        predefinedRoleAssignees: {}
    DatasetFieldDefaultValue:
      type: object
      properties:
        id:
          type: number
        datasetField:
          $ref: '#/components/schemas/DatasetFieldType'
        defaultValueSet:
          $ref: '#/components/schemas/DefaultValueSet'
        childDatasetFieldDefaultValues:
          items:
            $ref: '#/components/schemas/DatasetFieldDefaultValue'
        parentDatasetFieldDefaultValue: {}
        strValue:
          type: string
        displayOrder:
          type: integer
    Scope:
      enum:
      - DATASET
      - FILE
    DownloadInfo:
      type: object
      properties:
        dataFile:
          $ref: '#/components/schemas/DataFile'
        authUserName:
          type: string
        authMethod:
          type: string
        accessGranted:
          type: boolean
        accessPermissionsApply:
          type: boolean
        accessRestrictionsApply:
          type: boolean
        passAccessPermissions:
          type: boolean
        passAccessRestrictions:
          type: boolean
        optionalServicesAvailable:
          items:
            $ref: '#/components/schemas/OptionalAccessService'
    BundleDownloadInstance:
      type: object
      properties:
        downloadInfo:
          $ref: '#/components/schemas/DownloadInfo'
        fileCitationEndNote:
          type: string
        fileCitationRIS:
          type: string
        fileDDIXML:
          type: string
        fileCitationBibtex:
          type: string
    FileDifferenceSummaryItem:
      type: object
      properties:
        name:
          type: string
        added:
          type: integer
        changed:
          type: integer
        deleted:
          type: integer
        replaced:
          type: integer
        multiple:
          type: boolean
    DataverseType:
      enum:
      - RESEARCHERS
      - RESEARCH_PROJECTS
      - JOURNALS
      - ORGANIZATIONS_INSTITUTIONS
      - TEACHING_COURSES
      - UNCATEGORIZED
      - LABORATORY
      - RESEARCH_GROUP
      - DEPARTMENT
    DownloadInstance:
      type: object
      properties:
        extraArguments: {}
        downloadInfo:
          $ref: '#/components/schemas/DownloadInfo'
        conversionParam:
          type: string
        conversionParamValue:
          type: string
        auxiliaryFile:
          $ref: '#/components/schemas/AuxiliaryFile'
        command:
          $ref: '#/components/schemas/EjbDataverseEngine'
        dataverseRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        gbr:
          $ref: '#/components/schemas/GuestbookResponse'
        requestUriInfo: {}
        requestHttpHeaders: {}
    AuthenticationProvidersRegistrationServiceBean:
      type: object
      properties:
        builtinUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        providerFactories: {}
        authenticationProviders: {}
        oAuth2authenticationProviders: {}
        em: {}
    DOIEZIdServiceBean:
      type: object
      properties:
        ezidService:
          $ref: '#/components/schemas/EZIDService'
        ezidServiceRequest:
          $ref: '#/components/schemas/EZIDServiceRequest'
        baseURLString:
          type: string
        USERNAME:
          type: string
        PASSWORD:
          type: string
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
      allOf:
      - $ref: '#/components/schemas/AbstractGlobalIdServiceBean'
    DataCaptureModuleServiceBean:
      type: object
    VersionState:
      enum:
      - DRAFT
      - RELEASED
      - ARCHIVED
      - DEACCESSIONED
    SummaryStatistic:
      type: object
      properties:
        id:
          type: number
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
        type:
          $ref: '#/components/schemas/SummaryStatisticType'
        value:
          type: string
    EjbDataverseEngineInner:
      type: object
      properties:
        ejbCtxt: {}
    ControlledVocabAlternate:
      type: object
      properties:
        id:
          type: number
        strValue:
          type: string
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        controlledVocabularyValue:
          $ref: '#/components/schemas/ControlledVocabularyValue'
    TagType:
      enum:
      - Survey
      - TimeSeries
      - Panel
      - Event
      - Genomics
      - Network
      - Geospatial
    TemplateServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        em: {}
    AuxiliaryFileServiceBean:
      type: object
      properties:
        em: {}
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    datasetFileDifferenceItem:
      type: object
      properties:
        fileId:
          type: string
        fileChecksumType:
          $ref: '#/components/schemas/ChecksumType'
        fileChecksumValue:
          type: string
        fileName1:
          type: string
        fileType1:
          type: string
        fileSize1:
          type: string
        fileCat1:
          type: string
        fileDesc1:
          type: string
        fileProvFree1:
          type: string
        fileRest1:
          type: string
        fileName2:
          type: string
        fileType2:
          type: string
        fileSize2:
          type: string
        fileCat2:
          type: string
        fileDesc2:
          type: string
        fileProvFree2:
          type: string
        fileRest2:
          type: string
        file1Empty:
          type: boolean
        file2Empty:
          type: boolean
    RoleAssignment:
      type: object
      properties:
        id:
          type: number
        assigneeIdentifier:
          type: string
        role:
          $ref: '#/components/schemas/DataverseRole'
        definitionPoint:
          $ref: '#/components/schemas/DvObject'
        privateUrlToken:
          type: string
        privateUrlAnonymizedAccess:
          type: boolean
    DataverseRole:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
        alias:
          type: string
        permissionBits:
          type: number
        owner:
          $ref: '#/components/schemas/DvObject'
    DatasetServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        doiEZIdServiceBean:
          $ref: '#/components/schemas/DOIEZIdServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        versionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        authentication:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        fileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        recordService:
          $ref: '#/components/schemas/OAIRecordServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        globusServiceBean:
          $ref: '#/components/schemas/GlobusServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        em: {}
    DefaultValueSet:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        datasetFieldDefaultValues:
          items:
            $ref: '#/components/schemas/DatasetFieldDefaultValue'
    UserNotificationServiceBean:
      type: object
      properties:
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        em: {}
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
    VariableCategory:
      type: object
      properties:
        id:
          type: number
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
        value:
          type: string
        label:
          type: string
        missing:
          type: boolean
        catOrder:
          type: integer
        frequency:
          type: number
    ExternalTool:
      type: object
      properties:
        id:
          type: number
        displayName:
          type: string
        toolName:
          type: string
        description:
          type: string
        externalToolTypes:
          items:
            $ref: '#/components/schemas/ExternalToolType'
        scope:
          $ref: '#/components/schemas/Scope'
        toolUrl:
          type: string
        toolParameters:
          type: string
        contentType:
          type: string
        allowedApiCalls:
          type: string
        requirements:
          type: string
    FileDifferenceSummaryGroup:
      type: object
      properties:
        name:
          type: string
        fileDifferenceSummaryItems:
          items:
            $ref: '#/components/schemas/FileDifferenceSummaryItem'
    DvObjectContainer:
      type: object
      properties:
        storageDriver:
          type: string
        metadataLanguage:
          type: string
        externalLabelSetName:
          type: string
        id:
          type: number
        owner: {}
        publicationDate: {}
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate: {}
        modificationTime: {}
        indexTime: {}
        permissionModificationTime: {}
        permissionIndexTime: {}
        storageIdentifier:
          type: string
        dtype:
          type: string
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          items:
            $ref: '#/components/schemas/RoleAssignment'
        mergeable:
          type: boolean
      allOf:
      - $ref: '#/components/schemas/DvObject'
      - $ref: '#/components/schemas/DvObject'
    DatasetLinkingDataverse:
      type: object
      properties:
        id:
          type: number
        dataset:
          $ref: '#/components/schemas/Dataset'
        linkingDataverse:
          $ref: '#/components/schemas/Dataverse'
        linkCreateTime: {}
    VariableRange:
      type: object
      properties:
        id:
          type: number
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
        beginValue:
          type: string
        endValue:
          type: string
        beginValueType:
          $ref: '#/components/schemas/VariableRangeType'
        endValueType:
          $ref: '#/components/schemas/VariableRangeType'
    SearchPermissionsServiceBean:
      type: object
      properties:
        userServiceBean:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        roleAssigneeService:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        rolesSvc:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        authSvc:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        roleAssigneeCache: {}
    DataverseEntity:
      type: object
      properties:
        mergeable:
          type: boolean
    DatasetFieldValue:
      type: object
      properties:
        id:
          type: number
        value:
          type: string
        displayOrder:
          type: integer
        datasetField:
          $ref: '#/components/schemas/DatasetField'
        validationMessage:
          type: string
    IpGroupProvider:
      type: object
      properties:
        ipGroupsService:
          $ref: '#/components/schemas/IpGroupsServiceBean'
    PasswordResetServiceBean:
      type: object
      properties:
        dataverseUserService:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        em: {}
    DataverseFeaturedDataverse:
      type: object
      properties:
        id:
          type: number
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        featuredDataverse:
          $ref: '#/components/schemas/Dataverse'
        displayOrder:
          type: integer
    SavedSearchServiceBean:
      type: object
      properties:
        searchService:
          $ref: '#/components/schemas/SearchServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        resultString:
          type: string
        em: {}
    DatasetVersionDifference:
      type: object
      properties:
        newVersion:
          $ref: '#/components/schemas/DatasetVersion'
        originalVersion:
          $ref: '#/components/schemas/DatasetVersion'
        detailDataByBlock:
          items:
            type: array
            items:
              $ref: '#/components/schemas/DatasetField'
        datasetFilesDiffList:
          items:
            $ref: '#/components/schemas/datasetFileDifferenceItem'
        datasetFilesReplacementList:
          items:
            $ref: '#/components/schemas/datasetReplaceFileItem'
        addedFiles:
          items:
            $ref: '#/components/schemas/FileMetadata'
        removedFiles:
          items:
            $ref: '#/components/schemas/FileMetadata'
        changedFileMetadata:
          items:
            $ref: '#/components/schemas/FileMetadata'
        changedVariableMetadata:
          items:
            $ref: '#/components/schemas/FileMetadata'
        replacedFiles:
          items:
            $ref: '#/components/schemas/FileMetadata'
        changedTermsAccess:
          items:
            type: string
        summaryDataForNote: {}
        blockDataForNote: {}
        variableMetadataUtil:
          $ref: '#/components/schemas/VariableMetadataUtil'
        differenceSummaryGroups:
          items:
            $ref: '#/components/schemas/DifferenceSummaryGroup'
    ShibGroupServiceBean:
      type: object
      properties:
        em: {}
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
    OAISetServiceBean:
      type: object
      properties:
        em: {}
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        oaiRecordService:
          $ref: '#/components/schemas/OAIRecordServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        solrClientService:
          $ref: '#/components/schemas/SolrClientService'
    DataverseRequest:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        sourceAddress:
          $ref: '#/components/schemas/IpAddress'
        invocationId:
          type: string
    VariableMetadata:
      type: object
      properties:
        id:
          type: number
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
        fileMetadata:
          $ref: '#/components/schemas/FileMetadata'
        label:
          type: string
        literalquestion:
          type: string
        postquestion:
          type: string
        interviewinstruction:
          type: string
        universe:
          type: string
        notes:
          type: string
        isweightvar:
          type: boolean
        weighted:
          type: boolean
        categoriesMetadata:
          items:
            $ref: '#/components/schemas/CategoryMetadata'
        weightvariable:
          $ref: '#/components/schemas/DataVariable'
    DatasetFieldCompoundValue:
      type: object
      properties:
        id:
          type: number
        displayOrder:
          type: integer
        parentDatasetField:
          $ref: '#/components/schemas/DatasetField'
        childDatasetFields:
          items:
            $ref: '#/components/schemas/DatasetField'
        linkMap: {}
        linkScheme:
          type: string
        linkValue:
          type: string
    Cart:
      type: object
      properties:
        contents:
          items:
            type: object
    AuthenticatedUserLookup:
      type: object
      properties:
        id:
          type: number
        authenticationProviderId:
          type: string
        persistentUserId:
          type: string
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
    RunResultType:
      enum:
      - SUCCESS
      - FAILURE
      - INPROGRESS
      - INTERRUPTED
    SettingsServiceBean:
      type: object
      properties:
        em: {}
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
    DatasetLock:
      type: object
      properties:
        id:
          type: number
        startTime: {}
        dataset:
          $ref: '#/components/schemas/Dataset'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        reason:
          $ref: '#/components/schemas/Reason'
        info:
          type: string
    EmbargoServiceBean:
      type: object
      properties:
        em: {}
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
    ExplicitGroupProvider:
      type: object
      properties:
        explicitGroupSvc:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
    FileDownloadHelper:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/DataverseSession'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        fileDownloadService:
          $ref: '#/components/schemas/FileDownloadServiceBean'
        guestbookResponseService:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        fileDownloadPermissionMap: {}
        filesForRequestAccess:
          items:
            $ref: '#/components/schemas/DataFile'
        selectedFileId:
          type: string
    FileVersionDifference:
      type: object
      properties:
        newFileMetadata:
          $ref: '#/components/schemas/FileMetadata'
        originalFileMetadata:
          $ref: '#/components/schemas/FileMetadata'
        details:
          type: boolean
        same:
          type: boolean
        differenceSummaryGroups:
          items:
            $ref: '#/components/schemas/FileDifferenceSummaryGroup'
        differenceDetailItems:
          items:
            $ref: '#/components/schemas/FileDifferenceDetailItem'
    VariableInterval:
      enum:
      - DISCRETE
      - CONTINUOUS
      - NOMINAL
      - DICHOTOMOUS
    FileDownloadServiceBean:
      type: object
      properties:
        em: {}
        guestbookResponseService:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        privateUrlService:
          $ref: '#/components/schemas/PrivateUrlServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        session:
          $ref: '#/components/schemas/DataverseSession'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        fileDownloadHelper:
          $ref: '#/components/schemas/FileDownloadHelper'
        mdcLogService:
          $ref: '#/components/schemas/MakeDataCountLoggingServiceBean'
    FileMetadata:
      type: object
      properties:
        label:
          type: string
        directoryLabel:
          type: string
        description:
          type: string
        restricted:
          type: boolean
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        dataFile:
          $ref: '#/components/schemas/DataFile'
        provFreeForm:
          type: string
        variableMetadatas:
          items:
            $ref: '#/components/schemas/VariableMetadata'
        varGroups:
          items:
            $ref: '#/components/schemas/VarGroup'
        fileCategories:
          items:
            $ref: '#/components/schemas/DataFileCategory'
        id:
          type: number
        version:
          type: number
        inPriorVersion:
          type: boolean
        selected:
          type: boolean
        restrictedUI:
          type: boolean
        fileVersionDifference:
          $ref: '#/components/schemas/FileVersionDifference'
        contributorNames:
          type: string
    ConfirmEmailServiceBean:
      type: object
      properties:
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        em: {}
    ClientHarvestRun:
      type: object
      properties:
        id:
          type: number
        harvestingClient:
          $ref: '#/components/schemas/HarvestingClient'
        harvestResult:
          $ref: '#/components/schemas/RunResultType'
        startTime: {}
        finishTime: {}
        harvestedDatasetCount:
          type: number
        failedDatasetCount:
          type: number
        deletedDatasetCount:
          type: number
    BannerMessage:
      type: object
      properties:
        id:
          type: number
        dismissibleByUser:
          type: boolean
        active:
          type: boolean
        bannerMessageTexts:
          items:
            $ref: '#/components/schemas/BannerMessageText'
        userBannerMessages:
          items:
            $ref: '#/components/schemas/UserBannerMessage'
    AlternativePersistentIdentifier:
      type: object
      properties:
        id:
          type: number
        dvObject:
          $ref: '#/components/schemas/DvObject'
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        storageLocationDesignator:
          type: boolean
    PersistedGlobalGroup:
      type: object
      properties:
        id:
          type: number
        persistedGroupAlias:
          type: string
        displayName:
          type: string
        description:
          type: string
    IngestRequest:
      type: object
      properties:
        id:
          type: number
        dataFile:
          $ref: '#/components/schemas/DataFile'
        textEncoding:
          type: string
        controlCard:
          type: string
        labelsFile:
          type: string
        forceTypeCheck:
          type: boolean
    FakePidProviderServiceBean:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
      allOf:
      - $ref: '#/components/schemas/AbstractGlobalIdServiceBean'
    MailServiceBean:
      type: object
      properties:
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        dataFileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        versionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        confirmEmailService:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        session: {}
    SavedSearchFilterQuery:
      type: object
      properties:
        id:
          type: number
        filterQuery:
          type: string
        savedSearch:
          $ref: '#/components/schemas/SavedSearch'
    SolrClientService:
      type: object
      properties:
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        solrClient:
          $ref: '#/components/schemas/SolrClient'
    GuestbookResponse:
      type: object
      properties:
        id:
          type: number
        guestbook:
          $ref: '#/components/schemas/Guestbook'
        dataFile:
          $ref: '#/components/schemas/DataFile'
        dataset:
          $ref: '#/components/schemas/Dataset'
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        fileDownload:
          $ref: '#/components/schemas/FileDownload'
        customQuestionResponses:
          items:
            $ref: '#/components/schemas/CustomQuestionResponse'
        name:
          type: string
        email:
          type: string
        institution:
          type: string
        position:
          type: string
        responseTime: {}
        writeResponse:
          type: boolean
        externalTool:
          $ref: '#/components/schemas/ExternalTool'
    DatasetLinkingServiceBean:
      type: object
      properties:
        em: {}
    DataFile:
      type: object
      properties:
        contentType:
          type: string
        checksumType:
          $ref: '#/components/schemas/ChecksumType'
        checksumValue:
          type: string
        rootDataFileId:
          type: number
        previousDataFileId:
          type: number
        filesize:
          type: number
        restricted:
          type: boolean
        provEntityName:
          type: string
        dataTables:
          items:
            $ref: '#/components/schemas/DataTable'
        auxiliaryFiles:
          items:
            $ref: '#/components/schemas/AuxiliaryFile'
        ingestReports:
          items:
            $ref: '#/components/schemas/IngestReport'
        ingestRequest:
          $ref: '#/components/schemas/IngestRequest'
        dataFileTags:
          items:
            $ref: '#/components/schemas/DataFileTag'
        fileMetadatas:
          items:
            $ref: '#/components/schemas/FileMetadata'
        guestbookResponses:
          items:
            $ref: '#/components/schemas/GuestbookResponse'
        ingestStatus:
          type: object
        thumbnailForDataset:
          $ref: '#/components/schemas/Dataset'
        embargo:
          $ref: '#/components/schemas/Embargo'
        deleted:
          type: boolean
        markedAsDuplicate:
          type: boolean
        duplicateFilename:
          type: string
        fileAccessRequesters:
          items:
            $ref: '#/components/schemas/AuthenticatedUser'
        id:
          type: number
        owner: {}
        publicationDate: {}
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate: {}
        modificationTime: {}
        indexTime: {}
        permissionModificationTime: {}
        permissionIndexTime: {}
        storageIdentifier:
          type: string
        dtype:
          type: string
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          items:
            $ref: '#/components/schemas/RoleAssignment'
        mergeable:
          type: boolean
      allOf:
      - $ref: '#/components/schemas/DvObject'
    ImageFormat:
      enum:
      - SQUARE
      - RECTANGLE
    OAIRecordServiceBean:
      type: object
      properties:
        oaiSetService:
          $ref: '#/components/schemas/OAISetServiceBean'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        em: {}
    PermissionServiceBean:
      type: object
      properties:
        userService:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        roleService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        roleAssigneeService:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        dvObjectServiceBean:
          $ref: '#/components/schemas/DvObjectServiceBean'
        workflowService:
          $ref: '#/components/schemas/WorkflowServiceBean'
        em: {}
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        session:
          $ref: '#/components/schemas/DataverseSession'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
    DOIDataCiteServiceBean:
      type: object
      properties:
        doiDataCiteRegisterService:
          $ref: '#/components/schemas/DOIDataCiteRegisterService'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
      allOf:
      - $ref: '#/components/schemas/AbstractGlobalIdServiceBean'
    CustomQuestion:
      type: object
      properties:
        id:
          type: number
        guestbook:
          $ref: '#/components/schemas/Guestbook'
        customQuestionResponses:
          items:
            $ref: '#/components/schemas/CustomQuestionResponse'
        customQuestionValues:
          items:
            $ref: '#/components/schemas/CustomQuestionValue'
        questionType:
          type: string
        questionString:
          type: string
        required:
          type: boolean
        hidden:
          type: boolean
        displayOrder:
          type: integer
    IngestServiceBean:
      type: object
      properties:
        variableService:
          $ref: '#/components/schemas/VariableServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        fieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        fileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        auxiliaryFileService:
          $ref: '#/components/schemas/AuxiliaryFileServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        queue: {}
        factory: {}
    PrivateUrlServiceBean:
      type: object
      properties:
        em: {}
        datasetServiceBean:
          $ref: '#/components/schemas/DatasetServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    DataverseRoleServiceBean:
      type: object
      properties:
        em: {}
        roleAssigneeService:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        indexAsync:
          $ref: '#/components/schemas/IndexAsync'
    SummaryStatisticType:
      enum:
      - MEAN
      - MEDN
      - MODE
      - MIN
      - MAX
      - STDEV
      - VALD
      - INVD
    DataCiteRESTfullClient:
      type: object
      properties:
        url:
          type: string
        httpClient:
          $ref: '#/components/schemas/CloseableHttpClient'
        context:
          $ref: '#/components/schemas/HttpClientContext'
        encoding:
          type: string
    DataverseFacetServiceBean:
      type: object
      properties:
        em: {}
        dataverses:
          $ref: '#/components/schemas/DataverseServiceBean'
    DataverseContact:
      type: object
      properties:
        id:
          type: number
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        contactEmail:
          type: string
        displayOrder:
          type: integer
    CustomQuestionResponse:
      type: object
      properties:
        id:
          type: number
        guestbookResponse:
          $ref: '#/components/schemas/GuestbookResponse'
        customQuestion:
          $ref: '#/components/schemas/CustomQuestion'
        response:
          type: string
        responseSelectItems:
          items:
            type: object
    DataVariable:
      type: object
      properties:
        id:
          type: number
        dataTable:
          $ref: '#/components/schemas/DataTable'
        name:
          type: string
        label:
          type: string
        weighted:
          type: boolean
        fileStartPosition:
          type: number
        fileEndPosition:
          type: number
        interval:
          $ref: '#/components/schemas/VariableInterval'
        type:
          $ref: '#/components/schemas/VariableType'
        format:
          type: string
        formatCategory:
          type: string
        recordSegmentNumber:
          type: number
        invalidRanges:
          items:
            $ref: '#/components/schemas/VariableRange'
        invalidRangeItems:
          items:
            $ref: '#/components/schemas/VariableRangeItem'
        summaryStatistics:
          items:
            $ref: '#/components/schemas/SummaryStatistic'
        unf:
          type: string
        categories:
          items:
            $ref: '#/components/schemas/VariableCategory'
        orderedFactor:
          type: boolean
        factor:
          type: boolean
        fileOrder:
          type: integer
        numberOfDecimalPoints:
          type: number
        variableMetadatas:
          items:
            $ref: '#/components/schemas/VariableMetadata'
    OptionalAccessService:
      type: object
      properties:
        serviceName:
          type: string
        serviceDescription:
          type: string
        contentMimeType:
          type: string
        serviceArguments:
          type: string
    DatasetFieldServiceBean:
      type: object
      properties:
        em: {}
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        cvocMap: {}
        cvocMapByTermUri: {}
        oldHash:
          type: string
    MakeDataCountLoggingServiceBean:
      type: object
      properties:
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    DataverseFieldTypeInputLevelServiceBean:
      type: object
      properties:
        em: {}
    VariableServiceBean:
      type: object
      properties:
        em: {}
    FeaturedDataverseServiceBean:
      type: object
      properties:
        em: {}
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
    UserServiceBean:
      type: object
      properties:
        em: {}
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
    VarGroup:
      type: object
      properties:
        id:
          type: number
        label:
          type: string
        fileMetadata:
          $ref: '#/components/schemas/FileMetadata'
        varsInGroup:
          items:
            $ref: '#/components/schemas/DataVariable'
    ChecksumType:
      enum:
      - MD5
      - SHA1
      - SHA256
      - SHA512
    TermsOfUseAndAccess:
      type: object
      properties:
        id:
          type: number
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        template:
          $ref: '#/components/schemas/Template'
        license:
          $ref: '#/components/schemas/License'
        termsOfUse:
          type: string
        termsOfAccess:
          type: string
        confidentialityDeclaration:
          type: string
        specialPermissions:
          type: string
        restrictions:
          type: string
        citationRequirements:
          type: string
        depositorRequirements:
          type: string
        conditions:
          type: string
        disclaimer:
          type: string
        dataAccessPlace:
          type: string
        originalArchive:
          type: string
        availabilityStatus:
          type: string
        contactForAccess:
          type: string
        sizeOfCollection:
          type: string
        studyCompletion:
          type: string
        fileAccessRequest:
          type: boolean
        validationMessage:
          type: string
    MailDomainGroup:
      type: object
      properties:
        emailDomains:
          type: string
        isRegEx:
          type: boolean
        provider:
          $ref: '#/components/schemas/MailDomainGroupProvider'
        id:
          type: number
        persistedGroupAlias:
          type: string
        displayName:
          type: string
        description:
          type: string
      allOf:
      - $ref: '#/components/schemas/PersistedGlobalGroup'
    IndexAsync:
      type: object
      properties:
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
    DataverseServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        dataverseLinkingService:
          $ref: '#/components/schemas/DataverseLinkingServiceBean'
        datasetLinkingService:
          $ref: '#/components/schemas/DatasetLinkingServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        rolesService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        session:
          $ref: '#/components/schemas/DataverseSession'
        em: {}
    FileDownload:
      type: object
      properties:
        id:
          type: number
        guestbookResponse:
          $ref: '#/components/schemas/GuestbookResponse'
        downloadTimestamp: {}
        selectedFileIds:
          type: string
        fileFormat:
          type: string
        downloadtype:
          type: string
        sessionId:
          type: string
    VariableMetadataUtil:
      type: object
    DataFileTag:
      type: object
      properties:
        id:
          type: number
        dataFile:
          $ref: '#/components/schemas/DataFile'
        type:
          $ref: '#/components/schemas/TagType'
    EjbDataverseEngine:
      type: object
      properties:
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        rolesService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        usersService:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        indexBatchService:
          $ref: '#/components/schemas/IndexBatchServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        searchService:
          $ref: '#/components/schemas/SearchServiceBean'
        ingestService:
          $ref: '#/components/schemas/IngestServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        dataverseFacetService:
          $ref: '#/components/schemas/DataverseFacetServiceBean'
        featuredDataverseService:
          $ref: '#/components/schemas/FeaturedDataverseServiceBean'
        dataFileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        templateService:
          $ref: '#/components/schemas/TemplateServiceBean'
        savedSearchService:
          $ref: '#/components/schemas/SavedSearchServiceBean'
        fieldTypeInputLevels:
          $ref: '#/components/schemas/DataverseFieldTypeInputLevelServiceBean'
        doiEZId:
          $ref: '#/components/schemas/DOIEZIdServiceBean'
        doiDataCite:
          $ref: '#/components/schemas/DOIDataCiteServiceBean'
        fakePidProvider:
          $ref: '#/components/schemas/FakePidProviderServiceBean'
        handleNet:
          $ref: '#/components/schemas/HandlenetServiceBean'
        settings:
          $ref: '#/components/schemas/SettingsServiceBean'
        guestbookService:
          $ref: '#/components/schemas/GuestbookServiceBean'
        responses:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        dvLinking:
          $ref: '#/components/schemas/DataverseLinkingServiceBean'
        dsLinking:
          $ref: '#/components/schemas/DatasetLinkingServiceBean'
        explicitGroups:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        groups:
          $ref: '#/components/schemas/GroupServiceBean'
        roleAssignees:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        authentication:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        privateUrlService:
          $ref: '#/components/schemas/PrivateUrlServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        dataCaptureModule:
          $ref: '#/components/schemas/DataCaptureModuleServiceBean'
        em: {}
        logSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        workflowService:
          $ref: '#/components/schemas/WorkflowServiceBean'
        fileDownloadService:
          $ref: '#/components/schemas/FileDownloadServiceBean'
        confirmEmailService:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        innerEngine:
          $ref: '#/components/schemas/EjbDataverseEngineInner'
        ejbCtxt: {}
        ctxt:
          $ref: '#/components/schemas/CommandContext'
    UserNotification:
      type: object
      properties:
        id:
          type: number
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        requestor:
          $ref: '#/components/schemas/AuthenticatedUser'
        sendDate: {}
        readNotification:
          type: boolean
        type:
          $ref: '#/components/schemas/Type'
        objectId:
          type: number
        additionalInfo:
          type: string
        displayAsRead:
          type: boolean
        roleString:
          type: string
        emailed:
          type: boolean
        theObject:
          type: object
    DifferenceSummaryGroup:
      type: object
      properties:
        displayName:
          type: string
        type:
          type: string
        differenceSummaryItems:
          items:
            $ref: '#/components/schemas/DifferenceSummaryItem'
    Breadcrumb:
      type: object
      properties:
        breadcrumbText:
          type: string
        dvObject:
          $ref: '#/components/schemas/DvObject'
        url:
          type: string
        optionalUrlExtension:
          type: string
    IndexBatchServiceBean:
      type: object
      properties:
        em: {}
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    IpGroupsServiceBean:
      type: object
      properties:
        em: {}
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
    DatasetVersion:
      type: object
      properties:
        id:
          type: number
        UNF:
          type: string
        version:
          type: number
        versionNumber:
          type: number
        minorVersionNumber:
          type: number
        versionNote:
          type: string
        versionState:
          $ref: '#/components/schemas/VersionState'
        dataset:
          $ref: '#/components/schemas/Dataset'
        fileMetadatas:
          items:
            $ref: '#/components/schemas/FileMetadata'
        termsOfUseAndAccess:
          $ref: '#/components/schemas/TermsOfUseAndAccess'
        datasetFields:
          items:
            $ref: '#/components/schemas/DatasetField'
        createTime: {}
        lastUpdateTime: {}
        releaseTime: {}
        archiveTime: {}
        archiveNote:
          type: string
        archivalCopyLocation:
          type: string
        deaccessionLink:
          type: string
        contributorNames:
          type: string
        dataverseSiteUrl:
          type: string
        jsonLd:
          type: string
        datasetVersionUsers:
          items:
            $ref: '#/components/schemas/DatasetVersionUser'
        workflowComments:
          items:
            $ref: '#/components/schemas/WorkflowComment'
        externalStatusLabel:
          type: string
        dvd:
          $ref: '#/components/schemas/DatasetVersionDifference'
        archivalStatus: {}
    Template:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        usageCount:
          type: number
        createTime: {}
        termsOfUseAndAccess:
          $ref: '#/components/schemas/TermsOfUseAndAccess'
        datasetFields:
          items:
            $ref: '#/components/schemas/DatasetField'
        instructions:
          type: string
        instructionsMap: {}
        metadataBlocksForView: {}
        metadataBlocksForEdit: {}
        isDefaultForDataverse:
          type: boolean
        dataversesHasAsDefault:
          items:
            $ref: '#/components/schemas/Dataverse'
        dataverse:
          $ref: '#/components/schemas/Dataverse'
    FileDifferenceDetailItem:
      type: object
      properties:
        displayName:
          type: string
        originalValue:
          type: string
        newValue:
          type: string
    DatasetExternalCitations:
      type: object
      properties:
        id:
          type: number
        dataset:
          $ref: '#/components/schemas/Dataset'
        citedByUrl:
          type: string
    Dataverse:
      type: object
      properties:
        name:
          type: string
        alias:
          type: string
        description:
          type: string
        dataverseType:
          $ref: '#/components/schemas/DataverseType'
        permissionRoot:
          type: boolean
        affiliation:
          type: string
        roles:
          items:
            $ref: '#/components/schemas/DataverseRole'
        defaultContributorRole:
          $ref: '#/components/schemas/DataverseRole'
        metadataBlockRoot:
          type: boolean
        facetRoot:
          type: boolean
        themeRoot:
          type: boolean
        templateRoot:
          type: boolean
        dataverseTheme:
          $ref: '#/components/schemas/DataverseTheme'
        dataverseContacts:
          items:
            $ref: '#/components/schemas/DataverseContact'
        metadataBlocks:
          items:
            $ref: '#/components/schemas/MetadataBlock'
        dataverseFacets:
          items:
            $ref: '#/components/schemas/DataverseFacet'
        citationDatasetFieldTypes:
          items:
            $ref: '#/components/schemas/DatasetFieldType'
        dataverseSubjects:
          items:
            $ref: '#/components/schemas/ControlledVocabularyValue'
        dataverseFeaturedDataverses:
          items:
            $ref: '#/components/schemas/DataverseFeaturedDataverse'
        dataverseFeaturingDataverses:
          items:
            $ref: '#/components/schemas/DataverseFeaturedDataverse'
        dataverseLinkingDataverses:
          items:
            $ref: '#/components/schemas/DataverseLinkingDataverse'
        dataverseLinkedDataverses:
          items:
            $ref: '#/components/schemas/DataverseLinkingDataverse'
        datasetLinkingDataverses:
          items:
            $ref: '#/components/schemas/DatasetLinkingDataverse'
        dataverseFieldTypeInputLevels:
          items:
            $ref: '#/components/schemas/DataverseFieldTypeInputLevel'
        defaultTemplate:
          $ref: '#/components/schemas/Template'
        savedSearches:
          items:
            $ref: '#/components/schemas/SavedSearch'
        templates:
          items:
            $ref: '#/components/schemas/Template'
        guestbooks:
          items:
            $ref: '#/components/schemas/Guestbook'
        harvestingClientConfigs:
          items:
            $ref: '#/components/schemas/HarvestingClient'
        metadataBlockFacetRoot:
          type: boolean
        metadataBlockFacets:
          items:
            $ref: '#/components/schemas/DataverseMetadataBlockFacet'
        guestbookRoot:
          type: boolean
        storageDriver:
          type: string
        metadataLanguage:
          type: string
        externalLabelSetName:
          type: string
        id:
          type: number
        owner: {}
        publicationDate: {}
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate: {}
        modificationTime: {}
        indexTime: {}
        permissionModificationTime: {}
        permissionIndexTime: {}
        storageIdentifier:
          type: string
        dtype:
          type: string
        protocol:
          type: string
        authority:
          type: string
        globalIdCreateTime: {}
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          items:
            $ref: '#/components/schemas/RoleAssignment'
        mergeable:
          type: boolean
      allOf:
      - $ref: '#/components/schemas/DvObjectContainer'
    FieldType:
      enum:
      - TEXT
      - TEXTBOX
      - DATE
      - EMAIL
      - URL
      - FLOAT
      - INT
      - NONE
    CustomQuestionValue:
      type: object
      properties:
        id:
          type: number
        valueString:
          type: string
        displayOrder:
          type: integer
        customQuestion:
          $ref: '#/components/schemas/CustomQuestion'
    GroupServiceBean:
      type: object
      properties:
        ipGroupsService:
          $ref: '#/components/schemas/IpGroupsServiceBean'
        shibGroupService:
          $ref: '#/components/schemas/ShibGroupServiceBean'
        explicitGroupService:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        mailDomainGroupService:
          $ref: '#/components/schemas/MailDomainGroupServiceBean'
        groupProviders: {}
        ipGroupProvider:
          $ref: '#/components/schemas/IpGroupProvider'
        shibGroupProvider:
          $ref: '#/components/schemas/ShibGroupProvider'
        explicitGroupProvider:
          $ref: '#/components/schemas/ExplicitGroupProvider'
        mailDomainGroupProvider:
          $ref: '#/components/schemas/MailDomainGroupProvider'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
    BannerMessageText:
      type: object
      properties:
        id:
          type: number
        message:
          type: string
        lang:
          type: string
        bannerMessage:
          $ref: '#/components/schemas/BannerMessage'
    DataverseTheme:
      type: object
      properties:
        id:
          type: number
        logoFormat:
          $ref: '#/components/schemas/ImageFormat'
        logoAlignment:
          $ref: '#/components/schemas/Alignment'
        logoBackgroundColor:
          type: string
        logo:
          type: string
        logoFooterAlignment:
          $ref: '#/components/schemas/Alignment'
        logoFooterBackgroundColor:
          type: string
        logoFooter:
          type: string
        tagline:
          type: string
        linkUrl:
          type: string
        linkColor:
          type: string
        textColor:
          type: string
        backgroundColor:
          type: string
        dataverse:
          $ref: '#/components/schemas/Dataverse'
    Alignment:
      enum:
      - LEFT
      - CENTER
      - RIGHT
    BannerMessageServiceBean:
      type: object
      properties:
        em: {}
    GuestbookResponseServiceBean:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        em: {}
    ControlledVocabularyValue:
      type: object
      properties:
        id:
          type: number
        strValue:
          type: string
        identifier:
          type: string
        displayOrder:
          type: integer
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        controlledVocabAlternates:
          items:
            $ref: '#/components/schemas/ControlledVocabAlternate'
    NavigationWrapper:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/DataverseSession'
        redirectPage:
          type: string
    DataverseLinkingServiceBean:
      type: object
      properties:
        em: {}
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
    MetadataBlock:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        displayName:
          type: string
        namespaceUri:
          type: string
[...]
